<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nathanielkevinkurniawan.uts.aplikasipendaftaranvaksin">

    <application
        android:allowBackup="true"
        android:icon="@drawable/vaksin"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AplikasiPendaftaranVaksin201111001_NathanielKevinKurniawan">
        <activity
            android:name=".BantuanActivity"
            android:exported="false" />
        <activity
            android:name=".InfoActivity"
            android:exported="true" />
        <activity
            android:name=".PendaftaranVaksin"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>